{% extends "base.html" %}

{% block content %}

    <!-- About Team 110 and Lunarshift -->
    <div class="container">
      <div class="jumbotron">
        <h1>lunarshift</h1>
        
        <p>Team 110 is Eugene local and University young. We strive as a small team of students who develop big products. Although we enjoy spending hours programming away, in our free time our team members enjoy:</p>
        
        <ul>
          <li><p>Playing video games</p></li>
          <li><p>Playing sweet tuba music</p></li>
          <li><p>Working on cars</p></li>
          <li><p>Hanging with friends</p></li>
          <li><p>Cooking fancy Mac n' Cheese</p></li>
        </ul>
        
        <!-- Reviews for Lunarshift -->
        <blockquote class="blockquote-reverse">
          <p>“LunarShift is out of this world. A quality product with super-quality capabilities.”</p>
          <footer>Barbra Sears, <cite title="Source Title">Eugene Times</cite></footer>
        </blockquote>
        
        <blockquote class="blockquote-reverse">
          <p>“LunarShift works for more than just businesses, it also helps the little guys and their pigs."</p>
          <footer>Old McD, <cite title="Source Title">McD Farms</cite></footer>
        </blockquote>
        <!-- End of Reviews -->

        
        <!-- Link to go to LunarShift Online Documentation / User Guide -->
        <p><a class="btn btn-primary btn-lg" role="button">View lunarshift docs &raquo;</a></p>
      </div>
    </div>

{% endblock %}
