{% extends "base.html" %}

{% block content %}

     <!-- ***** Display LunarShift Contact Information  ***** -->

    <div class="container">
      <div class="jumbotron">
        <h1>lunarshift</h1>
        <p>Team 110 is dedicated to answering your questions about our products. We have many ways to contact us. Choose the method that best suits your needs. We look forward to hearing from you. See documentation for FAQ's
        </p>
        <address>

          <strong>Team 110</strong><br>
          <abbr title="Phone"><i class="fa fa-phone"></i></abbr> (123) 456-7890<br>
          <i class="fa fa-calendar-o"></i> Monday - Friday<br>
          <i class="fa fa-clock-o"></i> 9:00 a.m. - 4:00 p.m. PT <br>
          <i class="fa fa-comment"></i> <a href="mailto:#">team110@gmail.com</a>
        </address>

        <!-- ***** Link to LunarShift Documentation  ***** -->
        <p><a class="btn btn-primary btn-lg" role="button" href="http://lunarshift.readthedocs.org/en/latest/">View lunarshift docs &raquo;</a></p>
      </div>
    </div>
{% endblock %}
