{% extends "base.html" %}

{% block content %}

    <!-- ***** Display Employee Contact Information  ***** -->
    <div class="container">
      <div class="page-header">
        <h1>{{ name }} <small>{{ company }}</small></h1>
      </div>

      <!-- ***** Begin: Employee Nav Bar  ***** -->
      <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#availability" data-toggle="tab"><i class="fa fa-clock-o"></i> Availability</a></li>
          <li><a href="#schedule" data-toggle="tab"><i class="fa fa-calendar"></i> Schedule</a></li>
          <li><a href="#alert" data-toggle="tab"><i class="fa fa-exclamation-triangle"></i> Alerts <span class="badge">4</span></a></li>
        </ul>        
        <!-- ***** End: Employee Nav Bar  ***** -->

        <!-- ***** Begin: Employee Set Available Time  ***** -->
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="availability">
            <br>
            <p class="lead">Specify your availability here!</p>
            {% for day in days %}
            <div class="panel panel-info">
              <div class="panel-heading clearfix">
                <h3 class="panel-title" id="{{ day }}">
		    {{ day }}
		</h3>
              </div>
              <div class="panel-body">
                <div class="well well-lg">
                  <div id="slider{{ day }}"></div>
                </div>
              </div>
            </div>
            {% endfor %}

	    <!--<button type="button" class="btn btn-primary btn-lg">Update Availability</button>--->
	    <form method='post' id='jsSubmitAvailability'>
		{% csrf_token %}
		<input type="submit" value="Update Availability"/>
		<div id = 'returnMessage'>Initial text</div>
            </form>
            <!--<a class="btn btn-danger" id="myPopover" href="#" data-toggle="popover" data-placement="bottom" data-html="true" data-original-title="Fast Editing" data-content="<div> This <b>is</b> your div content</div>"><i class="fa fa-bolt fa-lg"></i></a>-->
            
          </div>
          <!-- ***** END: Employee Set Available Time  ***** -->


          <!-- ***** Begin: Employee view Schedule  ***** -->
          <div class="tab-pane" id="schedule">
            <br>
            <p class="lead">Here's your work schedule!</p>
            <!--div id="paginator"></div> -->
	    <!--{% schedulesHours = Schedule.objects.filter(user__username=e.user.username).filter(monthForSched-->
            <br>
            <table class="table table-no-border">
	      <th><h3>Days</h3></th>
              <th><h3>Time</h3></th>
              <th><h3>Shift Length</h3></th>
	      {% for hour in scheduledHours %}
              <tr>
		<td><div class="well well-sm">{{ hour.AvailibleDay }}</div></td>
                <td><div class="well well-sm">{{ hour.start_time }} - {{ hour.end_time }}</div></td>
                <td><div class="well well-sm">TODO, delta the hours {{ hour.monthForSched }}</div></td>
              </tr>
	      {% endfor %}
              </tr>
            </table>	
          </div>

	  
          <!-- ***** End: Employee view Schedule  ***** -->

          <!-- ***** Begin: Employee view Alerts  ***** -->
          <div class="tab-pane" id="alert">
            <br>
            <p class="lead">You have four alerts!</p>
            <div class="alert alert-success">This is an alert specifying success
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-info">This is an alert specifying info
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-warning">This is an alert specifying warning
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-danger">This is an alert specifying danger
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** End: Employee view Alerts  ***** -->

 
         
    </div> 
{% endblock %}

{% block scripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript">
function getCookie(name) {  
    var cookieValue = null;  
    if (document.cookie && document.cookie != '') {  
        var cookies = document.cookie.split(';');  
        for (var i = 0; i < cookies.length; i++) {  
            var cookie = jQuery.trim(cookies[i]);  
              
            if (cookie.substring(0, name.length + 1) == (name + '=')) {  
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));  
                break;  
            }  
        }  
    }  
    return cookieValue;  
}  
  
function csrfSafeMethod(method) {  
      
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));  
}  
function sameOrigin(url) {  
      
    var host = document.location.host; // host + port  
    var protocol = document.location.protocol;  
    var sr_origin = '//' + host;  
    var origin = protocol + sr_origin;  
      
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||  
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||  
          
        !(/^(\/\/|http:|https:).*/.test(url));  
}
    $(function() {  
  
            $("#jsSubmitAvailability").submit(function(event){  
  
                //event.preventDefault(); 
 		alert("HELLO!");
                $.ajax({  
                 type:'POST',
                 url:'submit_Availability',
		         data: {
		                'sunStart': $('#sliderSunday').val() // from form
				'sunEnd': $('#sliderSunday').val() // from form
		                },
				success:function(response){alert(response);},
				complete:function(response){alert(response);},
				error:function (xhr, textStatus, thrownError){alert(textStatus);}
                });
                return false;   
            });  
  
        });  
        $.ajaxSetup({  
            beforeSend: function(xhr, settings) {  
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {  
                    // Send the token to same-origin, relative URLs only.  
                    // Send the token only if the method warrants CSRF protection  
                    // Using the CSRFToken value acquired earlier  
  
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);  
                }  
            }  
        });
</script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
         $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
              $('#paginator').datepaginator();
          });

          $('#myPopover').popover();


          function TwoDigits(val){
            if (val == 0) {
              return "12:00 AM";
            } else if (val < 12){
              return "0" + val + ":00 AM";
            } else if (val == 12) {
              return "12:00 PM"
            } else {
              return val - 12 + ":00 PM";
            }
          }

          $("#sliderSunday").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 23, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, 0), max: new Date(2013, 0, 1, 0)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });
          $("#sliderMonday").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 23, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, 0), max: new Date(2013, 0, 1, 0)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });
          $("#sliderTuesday").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 23, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, 0), max: new Date(2013, 0, 1, 0)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });
          $("#sliderWednesday").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 23, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, 0), max: new Date(2013, 0, 1, 0)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });
          $("#sliderThursday").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 23, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, 0), max: new Date(2013, 0, 1, 0)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });
          $("#sliderFriday").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 23, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, 0), max: new Date(2013, 0, 1, 0)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });
          $("#sliderSaturday").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 23, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, 0), max: new Date(2013, 0, 1, 0)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });
        });
      </script> 
{% endblock %}
    

