{% extends "base.html" %}

{% block content %}

    <!-- ***** Display Employee Contact Information  ***** -->
    <div class="container">
      <div class="page-header">
        <h1>John Doe <small>Company Inc.</small></h1>
      </div>

      <!-- ***** Begin: Employee Nav Bar  ***** -->
      <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#availability" data-toggle="tab"><i class="fa fa-clock-o"></i> Availability</a></li>
          <li><a href="#schedule" data-toggle="tab"><i class="fa fa-calendar"></i> Schedule</a></li>
          <li><a href="#alert" data-toggle="tab"><i class="fa fa-exclamation-triangle"></i> Alerts <span class="badge">4</span></a></li>
        </ul>        
        <!-- ***** End: Employee Nav Bar  ***** -->

        <!-- ***** Begin: Employee Set Available Time  ***** -->
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="availability">
            <br>
            <p class="lead">Specify your availability here!</p>
            <div class="panel panel-info">
              <div class="panel-heading clearfix">
                <button type="button" class="btn btn-danger pull-right"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
                <h3 class="panel-title">
                  Monday
                </h3>
              </div>
              <div class="panel-body">
                <div class="well well-lg">
                  <div class="row">
                    <div class="col-md-1 pull-right">
                    <button type="button" class="close pull-right" aria-hidden="true">&times;</button>
                    </div>
                  </div>
                    <div id="slider"></div>
                </div>
                <br>
                <div class="well well-lg">
                  <div class="row">
                    <div class="col-md-1 pull-right">
                    <button type="button" class="close pull-right" aria-hidden="true">&times;</button>
                    </div>
                  </div>
                    <div id="slider2"></div>
                </div>
                <br>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-primary"><i class="fa fa-plus-square"></i></button>
                  <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-primary btn-lg">Add Day</button>
            <!--<a class="btn btn-danger" id="myPopover" href="#" data-toggle="popover" data-placement="bottom" data-html="true" data-original-title="Fast Editing" data-content="<div> This <b>is</b> your div content</div>"><i class="fa fa-bolt fa-lg"></i></a>-->
            
          </div>
          <!-- ***** END: Employee Set Available Time  ***** -->


          <!-- ***** Begin: Employee view Schedule  ***** -->
          <div class="tab-pane" id="schedule">
            <br>
            <p class="lead">Here's your work schedule!</p>
            <div id="paginator"></div>
            <br>
            <table class="table table-no-border">
              <th><h3>Time</h3></th>
              <th><h3>Hours</h3></th>
              <tr>
                <td><div class="well well-sm">8:00 - 10:00pm</div></td>
                <td><div class="well well-sm">2 hrs</div></td>
              </tr>
              <tr>
                <td><div class="well well-sm">2:00 - 9:00pm</div></td>
                <td><div class="well well-sm">7 hrs</div></td>
              </tr>
            </table>
          </div>
          <!-- ***** End: Employee view Schedule  ***** -->

          <!-- ***** Begin: Employee view Alerts  ***** -->
          <div class="tab-pane" id="alert">
            <br>
            <p class="lead">You have four alerts!</p>
            <div class="alert alert-success">This is an alert specifying success
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-info">This is an alert specifying info
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-warning">This is an alert specifying warning
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-danger">This is an alert specifying danger
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** End: Employee view Alerts  ***** -->

 
         
    </div> 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
          $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
              $('#paginator').datepaginator();
          });

          $('#myPopover').popover();
         
          function TwoDigits(val){
            if (val == 0) {
              return "12:00 AM";
            } else if (val < 12){
              return "0" + val + ":00 AM";
            } else if (val == 12) {
              return "12:00 PM"
            } else {
              return val - 12 + ":00 PM";
            }
          }

          $("#slider").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 23, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, 8), max: new Date(2013, 0, 1, 18)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });
          $("#slider2").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 23, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, 8), max: new Date(2013, 0, 1, 18)},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });
        });
      </script> 
    
{% endblock %}
