{% extends "base.html" %}

{% block content %}
    
    <div class="container">
      <!-- ***** Begin: Manager Information  ***** -->
      <div class="page-header">
        <h1>{{ name }} <small>{{ company }}</small></h1>
      </div>
      <!-- ***** End: Manager Information  ***** -->

      <!-- ***** Begin: Manager Navigation Bar  ***** -->
      <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#availability" data-toggle="tab"><i class="fa fa-clock-o"></i> Availability</a></li>
          <li><a href="#employees" data-toggle="tab"><i class="fa fa-users"></i> Employees</a></li>
          <li><a href="#schedule" data-toggle="tab"><i class="fa fa-calendar"></i> Schedule</a></li>
        </ul>
        <!-- ***** End: Manager Navigation Bar  ***** -->
        
        <!-- ***** Begin: Manager Set Coverage  ***** -->
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="availability">
            <br>
            <p class="lead">Specify the hours you want covered here!</p>
            {% for hour in hoursToCover %}
            <div class="panel panel-info">
              <div class="panel-heading clearfix">
                <button type="button" class="btn btn-danger pull-right"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
                <h3 class="panel-title" id="{{ hour.AvailibleDay }}"></h3>
              </div>
              <div class="panel-body">
                <div class="well well-lg">
                  <div id="slider{{ hour.AvailibleDay }}"></div>
                </div>
              </div>
            </div>
            {% endfor %}
            <button type="button" class="btn btn-primary btn-lg">Add Day</button>
          </div>
        
          <!-- ***** End: Manager Set Coverage  ***** -->

          <!-- ***** Begin: Manager View Schedule  ***** -->
          <div class="tab-pane" id="schedule">
            <br>
            <p class="lead">Here's the work schedule!</p>
            <div id="paginator"></div>
            <table class="table table-no-border">
              <th><h3>Employee</h3></th>
              <th><h3>Time</h3></th>
              <th><h3>Hours</h3></th>
              <tr>
                <td><div class="well well-sm">Lucas Rondenet</div></td>
                <td><div class="well well-sm">8:00 - 10:00pm</div></td>
                <td><div class="well well-sm">2 hrs</div></td>
              </tr>
              <tr>
                <td><div class="well well-sm">Rob Cardwell</div></td>
                <td><div class="well well-sm">2:00 - 9:00pm</div></td>
                <td><div class="well well-sm">7 hrs</div></td>
              </tr>
            </table>
          </div>
          <!-- ***** End: Manager View Schedule  ***** -->

          <!-- ***** Begin: Manager View Availability/ Deactivate Employee ***** -->
          <div class="tab-pane" id="employees">
            <br>
            <p class="lead">Here's a list of your employees!</p>
            <table id="employeeTable" class="table table-no-border">
              <th><h3>Name</h3></th>
              <th><h3>Email</h3></th>
              <th class="header-center"><h3>Available</h3></th>
              <th class="header-center"><h3>Schedule</h3></th>
              {% for employee in employees %}
              <tr id="{{ employee.user.username }}">
                <td><div class="well well-sm">{{ employee.user.first_name }} {{ employee.user.last_name }}</div></td>
                <td><div class="well well-sm">{{ employee.user.username }}</div></td>
                {% if employee.setAvailibity %}
                  <td class="text-align"><div class="well well-sm"><i class="fa fa-thumbs-o-up"></i></div></td>
                {% else %}
                  <td class="text-align"><div class="well well-sm"><i class="fa fa-thumbs-o-down"></i></div></td>
                {% endif %}
                {% if employee.user.username in scheduled %}
                  <td class="text-align"><div class="well well-sm"><input type="checkbox" checked></div></td>
                {% else %}
                  <td class="text-align"><div class="well well-sm"><input type="checkbox"></div></td>
                {% endif %}
               
                <td class="vert-align"><button id="delete" type="button" class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i> Delete</button></td>
              </tr>
              {% endfor %}
            </table>
            <!-- ***** End: Manager View Availability ***** -->

            <!-- ***** Begin: Manager Activate Employee ***** -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add Employee</button>
            <!-- ***** End: Manager Activate Employee ***** -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h1 class="modal-title" id="myModalLabel" align="center">
                      <i class="fa fa-user fa-5x"></i>
                      <p>New Employee</p>
                    </h1>
                  </div>
          
                  <div class="modal-body">
                    <form id="newEmployeeForm" class="form-horizontal" role="form" action="/addEmployee" method="post">{% csrf_token %}
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                          <div class="col-sm-10">
                            <input id="username" type="username" name="username" class="form-control" placeholder="Username">
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                          <div class="col-sm-10">
                            <input id="firstname" type="username" name="firstname" class="form-control" placeholder="Firstname">
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                          <div class="col-sm-10">
                            <input id="lastname" type="username" name="lastname" class="form-control" placeholder="Lastname">
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                          <div class="col-sm-10">
                            <input id="password" type="password" name="password" class="form-control" placeholder="Password">
                          </div>
                      </div>
                  </div>
          
                  <div class="modal-footer">
                    <button class="btn btn-lg btn-danger" data-dismiss="modal">Cancel</button>
                    <button id="submit" type="submit" data-dismiss="modal" class="btn btn-lg btn-primary">Add</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
 </div> 

{% endblock %}
{% block scripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
          $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
              $('#paginator').datepaginator();
          });

          function  convertSymbolToDay(day) {
            if (day == 'M') {
              return 'Monday'
            } else if (day == 'T') {
              return 'Tuesday'
            } else if (day == 'W') {
              return 'Wednesday'
            } else if (day == 'TH') {
              return 'Thursday'
            } else if (day == 'F') {
              return 'Friday'
            } else if (day == 'S') {
              return 'Saturday'
            } else {
              return 'Sunday';
            }
          }

          function TwoDigits(val){
            if (val == 0) {
              return "12:00 AM";
            } else if (val < 12){
              return "0" + val + ":00 AM";
            } else if (val == 12) {
              return "12:00 PM"
            } else {
              return val - 12 + ":00 PM";
            }
          }

          $("#submit").click(function() {
            var username = $("#username").val();
            var firstname = $("#firstname").val();
            var lastname = $("#lastname").val();
            var password = $("#password").val();
            alert(username);
            alert("Submit button clicked!");
            $("#employeeTable tr:last").after("<tr>" +
              "<td><div class='well well-sm'>" + firstname + " " + lastname + "</div></td>" +
              "<td><div class='well well-sm'>" + username + "</div></td>" +
              "<td class='text-align'><div class='well well-sm'><i class='fa fa-thumbs-o-down'></i></div></td>" +
              "<td class='text-align'><div class='well well-sm'><input type='checkbox'></div></td>" +
              "<td class='vert-align'><button type='button' class='btn btn-danger'><i class='fa fa-trash-o fa-lg'></i> Delete</button></td>" +
              "</tr>");

            $.ajax({
              type: "POST",
              url: "/addEmployee",
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                username: username,
                firstname: firstname,
                lastname: lastname,
                password: password, 
              },
              success: function(data) {
                alert("congratulations");
              },
              error: function(xhr, textStatus, errorThrown) {
                alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
              }
            });
          });

         $('#delete').click(function(){
            var bid = this.id; // button ID 
            var trid = $(this).closest('tr').attr('id'); // table row ID 
            alert(trid);
          });

          {% for i in hoursToCover %}
          $("#slider{{ i.AvailibleDay }}").dateRangeSlider({
            step:{hours: 1},
            bounds: {min: new Date(2013, 0, 1), max: new Date(2013, 0, 1, 24, 0, 0)},
            defaultValues: {min: new Date(2013, 0, 1, {{ i.start_time.hour }}), max: new Date(2013, 0, 1, {{ i.end_time.hour }})},
            formatter: function(value){
              var hours = value.getHours(),
              minutes = value.getMinutes();
              return TwoDigits(hours);
            }
          });

          $("#slider{{ i.AvailibleDay }}").bind("userValuesChanged", function(e, data){
            console.log("Values just changed. min: " + data.values.min + " max: " + data.values.max);
            $.ajax({
              type: "POST",
              url: "/updateslider",
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                username: "{{ username }}",
                day: "{{ i.AvailibleDay }}",
                newStartTime: data.values.min.getHours(),
                newEndTime: data.values.max.getHours(),
              },
              success: function(data) {
                alert("congratulations");
              },
              error: function(xhr, textStatus, errorThrown) {
                alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
              }
            });
          });

          document.getElementById("{{ i.AvailibleDay }}").innerHTML=convertSymbolToDay("{{ i.AvailibleDay }}");
          {% endfor %}
      });
      </script> 
    
{% endblock %}
